.omnibox {
  position: relative;
  border: 1px solid #ccc;
}

.omnibox__underlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.omnibox__underlay {
  z-index: -1;
  color: #aaa;
}

.omnibox__input {
  outline: none;
}

.omnibox__input,
.omnibox__underlay {
  font-family: sans-serif;
  font-size: 1.5em;
  padding: .5em;
}

.post {
  /*border: 1px solid #aaa;*/
  font-family: sans-serif;
  padding: .5em;
}

.post.pending {
  background: #efd396;
}

.post.done {
  /*background: green;*/
}

.post__heading {
  margin: 0;
  padding: 0;
}
.post__copy {
  margin: 0;
  padding: 0;
}